html {
  /* background: radial-gradient(ellipse at bottom, #2b2d42 0%, #090a0f 100%); */
  background-color: white;
}
* {
  font-family: Helvetica, sans-serif;
  /* color: white; */
  color: #333333;
}

.title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsFeed .title {
  margin-bottom: 0;
}

#provinceButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
  margin: 0;
  font-size: large;
}

#provinces {
  color: #333333;
  font-size: large;
  background-color: transparent;
  padding: 0.25rem;
  border: none;
  appearance: none;
  z-index: 1;
  text-decoration: underline 0.15rem rgba(51, 51, 51, 0);
  transition: text-decoration-color 300ms;
}

#provinces:hover {
  cursor: pointer;
  text-decoration-color: rgba(51, 51, 51, 1);
}

.summaryTable {
  z-index: 1;
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8D99AE', endColorstr='#EBF9FF', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  margin: 0rem 10rem 5rem 10rem;
  border-radius: 0.15rem;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.summaryHeader,
.vaccineHeader {
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.summaryTable .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}
.summaryTable .content p {
  color: #333333;
}
.summaryUpdated,
.vaccineUpdated {
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.vaccinationData {
  z-index: 1;
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8D99AE', endColorstr='#EBF9FF', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    180deg,
    rgba(235, 249, 255, 1) 0%,
    rgba(141, 153, 174, 1) 100%
  );

  margin: 5rem 10rem;
  border-radius: 0.15rem;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.vaccinationData .header {
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.vaccinationData .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}
.vaccinationData .content p {
  color: #333333;
}
.vaccinationData .updated {
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

#jxkN6Xva5bH9OqH7 {
  margin: 2rem;
}
