* {
  font-family: Helvetica, sans-serif;
  color: #333333;
}

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

.mainPage {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #33333333;
  left: 0;
  right: 0;
}

.leftNav {
  display: flex;
  margin-right: auto;
  gap: 3rem;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks li {
  font-weight: lighter;
}

.navLinks a {
  text-decoration: none;
}

.landingSlide {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
}

.landingSlide h1 {
  font-size: 3rem;
  max-width: 23rem;
  padding-left: 2rem;
}

.landingSlide img {
  align-items: center;
  width: 35rem;
  height: auto;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.provinceText {
  font-weight: lighter;
}

#provinces {
  color: #333333;
  font-size: 17px;
  background-color: transparent;
  font-weight: lighter;
  border: none;
  appearance: none;
  z-index: 1;
  text-decoration: underline 0.15rem rgba(51, 51, 51, 0);
  transition: text-decoration-color 300ms;
}

#provinces:hover {
  cursor: pointer;
  text-decoration-color: rgba(51, 51, 51, 1);
}

#provinceButton {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  align-items: center;
}

#summaryAll {
  width: 100%;
  height: 100vh;
  /* background-color: green; */
  padding-top: 8rem;
  box-sizing: border-box;
}

.summaryTable {
  display: flex;
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
}
.summaryHeader {
  font-size: 4rem;
  max-width: 1rem;
}
.summaryTable .content {
  font-size: 2rem;
}

.summaryUpdated {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under {
  text-decoration: underline;
}

.vaccinationData {
  display: flex;
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
  gap: 28rem;
}
.vaccinationHeader {
  font-size: 4rem;
  max-width: 1rem;
}

.vaccinationData .content {
  font-size: 2rem;
  display: flex;
  gap: 4rem;
}

.vaccineUpdated {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vaccinationAll {
  /* background-color: blue; */
  padding-top: 4rem;
  /* box-sizing: border-box; */
}

.newsFeed {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #33333330;
  padding: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 17rem;
}

.container img {
  object-fit: cover;
  width: 11rem;
  height: 11rem;
}
.container a {
  text-decoration: none;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  max-width: 11rem;
  padding-top: 1rem;
}

.container:hover {
  background-color: #33333310;
}

#newsContainer .title {
  padding-top: 2.5rem;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}
#footer {
  scroll-snap-align: end;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #33333333;
  margin-top: 3rem;
}

.textLogo {
  width: 10rem;
  height: auto;
}

#footer li {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.mediaLogo {
  width: 2.5rem;
  height: auto;
}

@media only screen and (max-width: 480px) {
  .header {
    display: none;
  }
}
